
body {
    background: #F6F8FD;
    height: 100%;
    margin: 0;
    padding: 0;
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(27, 15, 78, 1);
    padding: 15px;
}

/* Atur tata letak untuk logo dan tulisan Codify */
.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #B6B7F9;
}

.navbar-brand:hover {
    color: #B6B7F9;
}

/* Berikan margin kanan pada logo untuk memberikan jarak */
.navbar-brand img {
    margin-right: 10px; /* Sesuaikan ukuran margin sesuai kebutuhan Anda */
}

/* Atur warna teks untuk menu "Product," "Mentor," dan "About Us" */
.nav-link {
    color: #F6F8FD;
}

.nav-link:hover {
    color: #B6B7F9;
}

/* Atur tata letak untuk tombol Login dan Sign up */
.form-inline {
    display: flex;
    align-items: center;
}

.transparent-background {
    background-color: transparent !important; /* Mengatur latar belakang transparan */
    border: 1px solid #B6B7F9; /* Menghilangkan border */
    outline: none; /* Menghilangkan outline saat di-focus */
    color: #ffffff; /* Warna teks */
    display: flex; /* agar icon profile bisa di sebelah searcj*/
    align-items: center;
    margin-right: 15px;
    border-radius: 20px;
    border-color: #B6B7F9;
}

.form {
    position: relative;
}

.form-input::placeholder {
    color: #ffffff;
    padding-left: 5px;
}

.icon-container {
    display: flex;
    align-items: center;
}

.dropdown {
    position: relative;
}

.dropdown:hover .icon-container i {
    color: #F6F8FD;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a:hover {
    background-color: #2A177A;
    color: #ffffff;
}

/* Header */

.content-section {
    background: linear-gradient(360deg, #361D9D 0%, #1B0F4E 100%);
    color: #ffffff;
    padding: 40px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.welcome-text {
    text-align: left;
    margin-bottom: 20px;
}

.subscription-box {
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.status-text {
    color: #2A177A;
    font-weight: bold;
    font-size: 20px;
}

.subscription-content {
    display: flex;
    align-items: center;
    border: 1px solid #2A177A;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}

.subscription-logo {
    width: 50px;
    margin-right: 20px;
}

.subscription-info {
    flex-grow: 1;
    margin-top: 15px;
}

.subscribe-button {
    background-color:#4550C8;    ;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 349px;
}

.subscription-info p {
    color: #2A177A;
}

/* Main Content */

.main-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 40px;
}

.learning-activity {
    text-align: left;
    margin-bottom: 10px;
    font-size: 24px;
}

.activity-label {
    color: #2A177A;
    font-weight: bold;
}

.activity-line {
    border: 1px solid #2A177A;
    margin-top: 5px;
}

.activity-container {
    text-align: center;
    margin-top: 20px;
}

.activity-logo {
    width: auto;
}

.no-activity {
    color: #2A177A;
    font-size: 40px;
}

.learning-box {
    background: #CCCCCC;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.learning-status {
    color: #1B0F4E;
    font-weight: bold;
}

.learning-topic {
    color: #666666;
}

.continue-link {
    color: #1B4E9C;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}


/* Footer */

.footer {
    background: #2B187C;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    width: 30%;
    margin-left: 50px;
}

.footer-logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.footer-left p {
    margin-top: 10px;
}

.footer-center {
    width: 30%;
    margin-left: 300px;
    margin-top: 20px;
}

.footer-heading {
    font-weight: bold;
}

.footer-right {
    width: 30%;
    margin-left: 50px;
    margin-top: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.contact-item img {
    width: 20px;
    margin-right: 10px;
    background-color: white;
}
