body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.navbar {
    max-width: 100%;
    height: 80px;
    background-color: #1B0F4E;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    color: white;
    font-size: 30px;
    font-weight: 600px;
}

.back-arrow {
    margin-right: 10px;
    margin-left: 30px; /* Sesuaikan jumlah margin sesuai kebutuhan */
}

.back-arrow img {
    width: 30px; /* Sesuaikan ukuran gambar sesuai kebutuhan */
}

.quiz-title {
    margin-left: 10px; /* Sesuaikan jumlah margin sesuai kebutuhan */
    font-weight: bold;
    color: white;
}

.container {
    width: 1000px;
    height: 70px;
    background-color: #DDD9F7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.container-text {
    font-size: 24px;
    font-weight: medium;
    color: #1B0F4E;
}

.question {
    text-align: center; /* Untuk menyelaraskan teks ke tengah */
    margin-top: 70px; /* Atur jarak dari container */
}

.question-text {
    font-size: 20px;
    font-weight: medium;
    color: #000000;
}

.options-box {
    width: 67px; /* Lebar kotak options */
    height: 37.65px; /* Tinggi kotak options */
    margin: 0 auto; /* Mengatur posisi options di tengah-tengah */
}

.options-box {
    width: 400px;
    height: 50px;
    margin: 30px auto;
    border: 2px solid #D9D9D9;
    border-radius: 10px;
    display: flex; /* Menjadikan konten di dalam options-box menjadi flex container */
    align-items: center; /* Menengahkan konten secara vertikal */ 
    justify-content: space-between;

    padding: 0 20px;
    /* Menengahkan konten secara horizontal */
}

.options {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.category {
    margin-left: 10px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 30px;
}

.one {
    background-color: #1B0F4E;
}

.gender {
    font-size: 16px;
    font-weight: normal;
    color: #000000;
    margin-left: 10px;
}

#quizForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 140px 0 140px; /* Sesuaikan dengan kebutuhan margin atas dan sisi */
}

.back-button,
.next-button {
    background-color: #DDD9F7;
    color: #000000;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
