body, html {
    height: 100%;
    margin: 0;
}

.navbar {
    background-color: #1B0F4E;
    box-shadow: 0px 4px 35px 10px rgba(0, 0, 0, 0.25);
    height: 60px;
    display: flex;
    align-items: center; /* Untuk menengahkan secara vertikal */
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none; /* Menambahkan jika Anda ingin menghilangkan underline pada tautan */
    color: #B6B7F9;
    font-weight: 500;
}

.back{
    margin-left: 15px;
    height: 25px;
    width: 25px;
}

.logo{
    margin-left: 10px;
    height: 40px;
    width: 40px;
}

.navbar-brand .text {
    margin-left: 10px;
    color: #B6B7F9;
    font-weight: 500;
}

.title{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
    color: #00045D;
}

.box {
    max-width: 650px;
    margin: auto;
    width: 100%;
    overflow-x: auto;
    background-color: #2C187F;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-top: 40px;
}

.pay{
    margin-top: 20px;
    font-weight: 700;
}

.scan{
    margin-top: 20px;
}

.qr{
    margin-top: 20px;
    height: 250px;
}

.sps{
    margin-top: 30px;
    margin-bottom: 30px;
}

.sps img{
    height: 17px;
}