.navbar {
    background-color: #1B0F4E;
    box-shadow: 0px 4px 35px 10px rgba(0, 0, 0, 0.25);
    color: white;
    height: 60px;
  }

.navbar-brand{
    margin-left: 10px;
}

.back{
    margin-right: 10px;
    margin-bottom: 7px;
    height: 25px;
    width: 25px;
}

.title {
    font-weight: bold;
    font-size: 40px;
    text-align: left;
    max-width: 90%;
    margin-right: auto; 
    margin-bottom: 40px;
    margin-top: 20px;
}

.content iframe {
    max-width: 100%;
    width: 650px;
    height: 350px;
    margin: 0 auto;
    display: flex;
}

.section1{
    margin-top: 40px;
    font-size: 30px;
    font-weight: 600;
}

.section2{
    margin-top: 30px;
    font-size: 25px;
    font-weight: 500; 
}

.desc{
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    font-size: 20px;
}

.section3{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 23px;
    font-weight: 500; 
}

.footer {
    margin-top: 50px;
    background-color: #1B0F4E;
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-between; /* Menyebarkan elemen di dalam footer */
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
}

.footer-text {
    text-align: center; /* Memposisikan teks ke tengah */
    flex-grow: 1; /* Memberi teks ruang untuk berkembang (menyesuaikan ke kanan) */
}

.footer-button {
    background-color: #fff;
    color: #1B0F4E;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}